app-home {
  ion-scroll {
    padding: 15px;
  }
  .text {
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  ion-button {
    .button {
      background-color: var(--theme-c2) !important;
    }
  }
}
