app-news-create {
    ion-scroll {
        padding: 15px;
        overflow:hidden;
    }
    .card {
        width: 100%;
        padding: 2% 1% 0;
        margin: auto;
        position: relative;
    }
    .fab-button {
        width: 40px;
        height: 40px;
    }
    .form-container {
        width: 100%;
        padding: 1% 3% 2%;
    }    
    .form {
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        opacity: 0.95;
        padding: 2% 3% 2%;
        margin: 0 auto 100px;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }
    .form .entry {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        border-radius: 15px;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        box-shadow: 0 0 5px 1px var(--theme-c3);
    }
    .form .entry.title.validated {
        box-shadow: none;
    }
    .form .entry.author.validated {
        box-shadow: none;
    }
    .form .entry.text-content.validated {
          box-shadow: none;
    }
    .form .button {
        opacity: 0.65;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: var(--theme-c2);
        width: 100%;
        border: 0;
        border-radius: 15px;
        padding: 10px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: not-allowed;
    }
    .form .button.visible {
        opacity: 1;
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: var(--theme-c2);
        width: 100%;
        border: 0;
        border-radius: 15px;
        padding: 10px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }
    .form .button.visible:hover,.form .button.visible:active,.form .button.visible:focus {
        background: var(--theme-c3);
    }     
}