app-logo {

    .card {
        padding: 2% 1% 0;
        margin: auto;
        position: relative;
    }
    .svg-container {
        margin: 0px auto ! important;
        width: 100%;
        max-width: 512px;
        max-height: 512px;
        align-items: center;
    }
    
}