app-news-item {
    #fake-card {
        margin: 1.5em;
        height: 400px;
        background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 20px, transparent 0), linear-gradient(lightgray 100px, transparent 0);
        background-size: 100% 220px;
        background-position: 10px 0, 10px 120px, 10px 160px;
    }
    ion-card {
        font-family: "Roboto", sans-serif;
        .card-title-md {
            color: var(--theme-c2);
            font-size: 22px;
            white-space: normal;
        }
        .card-subtitle-md {
            font-size: 18px !important;
            font-style: italic;
            white-space: normal;
            span {
                font-weight: bold;
            }
        }
        .card-content-md {
            font-size: 16px !important; 
            font-style: normal;           
        }
    }
    
}