app-header {

    ion-title {
      text-transform: uppercase;
      padding-left: 24px;
    }
    .icon-logout {
      color: var(--theme-c2)!important;
      font-size: 24px !important;
    }
    ion-menu-button {
      ion-button {
        button {
          color: var(--theme-c6) !important;
          background-color: var(--theme-c7) !important;
        }
      }
    }
    
}