app-header {

    ion-title {
      text-transform: uppercase;
      width: calc(100% - 20px);
      padding-left: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .icon-logout {
      color: var(--theme-c2)!important;
      font-size: 24px !important;
    }
    .icon-back {
      color: var(--theme-c6)!important;
      font-size: 24px !important;
    }
    .back-button {
      color: var(--theme-c6)!important;
      background-color: var(--theme-c7) !important;      
    }
    ion-menu-button {
      ion-button {
        button {
          color: var(--theme-c6) !important;
          background-color: var(--theme-c7) !important;
        }
      }
    }
    
}